body{
    background-color: rgb(31,35,41,0.6);
}
.div {
    height: 500px;
}
.cursor {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: calc(100vh - 1px);
    height: calc(var(--vh, 1vh) * 100 - 1px);
    pointer-events: none;
    z-index: -1;
  }